md-toolbar(ng-controller='NavbarController')
  div.md-toolbar-tools

    h2
      span 
        a(href='/') KiwiSchool

    md-button.md-icon-button(ng-repeat='item in nav.menu', ui-sref-active='active' ui-sref='{{item.state}}') 
      md-icons.material-icons {{item.icon}}

    md-button(ng-show='nav.isAdmin()', ui-sref-active='active' ui-sref='admin')
      | Admin

    span(flex)
    
    md-button(ng-hide='nav.isLoggedIn()', ui-sref-active='active' ui-sref='signup')
      | Sign up

    md-button(ng-hide='nav.isLoggedIn()', ui-sref-active='active' ui-sref='login')
      | Login

    md-button.md-icon-button(ng-show='nav.isLoggedIn()', ui-sref-active='active' ui-sref='settings')
        md-icons.material-icons settings

    md-button(ng-show='nav.isLoggedIn()' ui-sref='logout') Logout
